*.class
*.iml
.idea/*
.mvn/
/target/
/build/
.gradle/
/logs/
mvnw*
/out/
.tern-project
.metadata

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

# Package Files #
*.jar
*.war
*.ear
/bin/
